.profile {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}

.description {
}

.avatar {
  width: 100%;
}

.name {
}

.tag {
}

.location {
}

.stats {
}

.label {
  margin-right: 10px;
}

.quantity {
}
